
   .example-card {
    background-color: black;
    width: 400px;
    color: #fff;
    /* margin-bottom: px; */
  }
  .image-container {
    width: 300px;
    
    flex: 1;
    margin-right: 20px;
  }
  .card-container {
    margin-left: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
  }
  .card-header {
    background-color: #ff0000;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  .card-body {
    padding: 1px;
  }
  .card-content {
    display: flex;
    align-items: center;
    color: #fff;
  }
  mat-card-subtitle{
    color: #fff;
  }
  .at-slide-toggle {
    justify-content: center;
  }
  
  
  .course-image {
    width: 100%;
    height: auto;
    max-height: 200px; 
    object-fit: cover; 
  }
  
  .course-details {
    flex: 1;
  }
  .mat-mdc-card-xl-image {
    width: 250px;
    height: 260px;
}
.mdc-card__actions {
  display: flex;
  flex-direction: col;
  align-items: center;
  box-sizing: border-box;
  min-height: 52px;
  padding: 8px;
  color: aqua;
  background-color: #da0404;
}
.filter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.filter-field {
  margin-right: 16px; 
}

.toggle-container {
  margin-left: auto;
}
