/* mat-grid-tile {
    background: lightblue;
  } */

  /* .example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  } */
  /* Custom styles for the card layout */
/* 
  
  
 
  
  .card-content {
    display: flex;
    align-items: center;
  }
  
  
  
  .course-image {
    width: 100%;
    height: auto;
    max-height: 200px; 
    object-fit: cover; 
  }
  
  .course-details {
    flex: 1;
  }
  
  .card-actions {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    position: absolute;
    bottom: 10px;
    width: 100%;
  } */
   /* .body{
    background: linear-gradient(to right, darkblue,red);
   } */
   .example-card {
    background-color: black;
    width: 400px;
    color: #fff;
    margin-bottom: 8px;
  }
  .image-container {
    width: 300px;
    
    flex: 1;
    margin-right: 20px;
  }
  .card-container {
    margin-left: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
  }
  .card-header {
    background-color: #ff0000;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  .card-body {
    padding: 1px;
  }
  .card-content {
    display: flex;
    align-items: center;
  }
  
  
  
  .course-image {
    width: 100%;
    height: auto;
    max-height: 200px; 
    object-fit: cover; 
  }
  
  .course-details {
    flex: 1;
  }
  .mat-mdc-card-xl-image {
    width: 250px;
    height: 250px;
}