<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="card-content">
        <div class="image-container">
          <img
            src="https://image.tmdb.org/t/p/w342{{ data[0].poster_path }}"
            alt="{{ movie.title }}"
            class="course-image"
          />
        </div>
        <div class="course-details">
          <h1>{{ data[0].title }}</h1>
          <p><strong>Language:</strong> {{ data[0].original_language }}</p>
          <!-- <p><strong>Id:</strong> {{ data[0].id }}</p> -->
          <p><strong>Popularity:</strong> {{ data[0].popularity }}</p>
          <p><strong>Release Date:</strong> {{ data[0].release_date }}</p>
          <p>
            <strong>Rating:</strong>
            {{ data[0].vote_average | number : "1.1-1" }}
          </p>
          <p><strong>Vote:</strong> {{ data[0].vote_count }}</p>
        </div>
      </div>
      <p><strong>Overview:</strong> {{ data[0].overview }}</p>
      <div>
        <button
        type="button"
        class="btn btn-outline-primary"
        mdbRipple
        rippleColor="dark"
        (click)="onBack()"
      >
        <strong>Back</strong>
      </button>
        <button type="button" class="btn btn-outline-danger marginLeft" mdbRipple rippleColor="dark"(click)="openDialog()">
          <strong>Review</strong>
        </button>
       
      </div>
    </div>
  </div>
</div>
<br />
<mat-divider></mat-divider>
<br />
<div>
  <h1>CAST:</h1>
  <div class="card-container">
    <div *ngFor="let cast of credits" class="card">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>{{ cast.name }}</mat-card-title>
            <mat-card-subtitle>{{ cast.character }}</mat-card-subtitle>
            <img
              mat-card-md-image
              src="https://image.tmdb.org/t/p/w342{{ cast.profile_path }}"
            />
          </mat-card-title-group>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
</div>
